<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1JUMPATTACK0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,771},{207,186}}</string>
                <key>offset</key>
                <string>{-110,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,188},{207,186}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,771},{207,186}}</string>
                <key>offset</key>
                <string>{-110,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,188},{207,186}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,771},{207,186}}</string>
                <key>offset</key>
                <string>{-110,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,188},{207,186}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,418}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{471,418}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,418}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{471,418}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,418}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{471,418}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{347,360}}</string>
                <key>offset</key>
                <string>{46,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,86},{347,360}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{347,360}}</string>
                <key>offset</key>
                <string>{46,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,86},{347,360}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
            <key>1JUMPATTACK0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{277,232}}</string>
                <key>offset</key>
                <string>{11,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,214},{277,232}}</string>
                <key>sourceSize</key>
                <string>{471,458}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestAttack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0ab8e69d73689053c3978df5f31ab29$</string>
            <key>textureFileName</key>
            <string>TestAttack.png</string>
        </dict>
    </dict>
</plist>
