<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDLE0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{212,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,269}}</string>
                <key>sourceSize</key>
                <string>{212,269}</string>
            </dict>
            <key>IDLE0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,269}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{445,269}}</string>
                <key>sourceSize</key>
                <string>{445,271}</string>
            </dict>
            <key>IDLE0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{113,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,214}}</string>
                <key>sourceSize</key>
                <string>{119,214}</string>
            </dict>
            <key>IDLE0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{294,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,318}}</string>
                <key>sourceSize</key>
                <string>{294,318}</string>
            </dict>
            <key>IDLE0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{217,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{217,233}}</string>
                <key>sourceSize</key>
                <string>{219,233}</string>
            </dict>
            <key>IDLE0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{202,250}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{202,250}}</string>
                <key>sourceSize</key>
                <string>{208,250}</string>
            </dict>
            <key>IDLE0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,206},{227,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{227,249}}</string>
                <key>sourceSize</key>
                <string>{229,249}</string>
            </dict>
            <key>IDLE0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{247,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,245}}</string>
                <key>sourceSize</key>
                <string>{247,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestCountDown.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a7ebf7715a5791cd998b4a8eb75013$</string>
            <key>textureFileName</key>
            <string>TestCountDown.png</string>
        </dict>
    </dict>
</plist>
