<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4IDLE001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,501},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4IDLE0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,593},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>4JUMP001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{165,174}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,58},{165,174}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{165,174}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,58},{165,174}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{165,174}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,58},{165,174}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{175,202}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{175,202}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{175,202}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{175,202}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{175,202}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{175,202}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,222}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,222}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,222}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,222}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4JUMP009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,222}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,222}}</string>
                <key>sourceSize</key>
                <string>{183,232}</string>
            </dict>
            <key>4RUN001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,512},{147,157}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{147,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,512},{147,157}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{147,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,512},{147,157}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{147,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{151,153}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{151,153}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{151,153}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{151,153}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{151,153}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{151,153}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,661},{143,157}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{143,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,661},{143,157}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{143,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,661},{143,157}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{143,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,685},{161,163}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{161,163}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,685},{161,163}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{161,163}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,685},{161,163}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{161,163}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,340},{191,159}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{191,159}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,179},{197,159}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{197,159}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,179},{197,159}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{197,159}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{197,153}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{197,153}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{191,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{191,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>4RUN0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{191,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{191,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestAnimation.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb19f26ac8cb7d8b1857ad8fd7136277$</string>
            <key>textureFileName</key>
            <string>TestAnimation.png</string>
        </dict>
    </dict>
</plist>
